html, body {
	height: 100%;
	min-width: 1050px;
	min-height: 400px;
}

#top {
	float: top;
	height: 80px;
	min-width: 100%;
	border-bottom: solid;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

#main {
	height: 100%;
}

canvas {
	height: 100%;
	width: 100%;
}
table{
	height: 100%;
	width: 100%;
}

#canvasStation {
	height: 100%;	
	box-shadow: inset -5px 5px 20px grey;
	padding: 50px;
}

#formStation {
	height: 100%;
	border-left: solid;
}